@import url("https://fonts.googleapis.com/css2?family=Joan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
/* Start navigation bar */

body {
  font-family: "Joan", serif;
  background-color: #f1f1f1;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  text-align: center;
  height: auto;
  width: auto;
  background-color: rgb(226, 240, 236);
}

header {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgb(16, 112, 27);
  position: fixed;
  width: 100%;
}

header li {
  display: inline;
  padding-left: 45px;
}

header li a {
  color: #333;
  text-decoration: none;
  padding: 15px;
  transition: 0.3s ease;
}

header li a:hover {
  color: #333;
}

header ul #contact a {
  color: #fff;
  background-color: royalblue;
  border-radius: 30px;
  float: right;
  position: relative;
  top: -15px;
  transition: 0.3s ease;
  margin-right: 60px;
}

header ul #contact a:hover {
  background-color: gold;
  color: #333;
  box-shadow: 0 0 5px gold;
}

.active {
  color: #fff;
  background-color: rgb(16, 112, 27);
  border-radius: 30px;
}

.active:hover {
  background-color: gold;
  color: #333;
  transition: 0.3s ease;
  box-shadow: 0 0 5px gold;
}

#logo {
  float: left;
  margin-top: -30px;
  border-radius: 30px;
}

a {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
a:hover {
  box-shadow: inset 100px 0 0 0 gold;
  color: white;
  border-radius: 30px;
}

/* End navigation bar */

/* Start welcome section */

.welcome-section {
  padding-top: 100px;
  background-color: #f1f1f1;
  width: 100%;
  height: 200px;
  font-size: 35px;
  font-family: "Dancing Script", cursive;
  background-image: url(/images/);
  color: #333;
  justify-content: center;
  background-color: rgb(226, 240, 236);
}

#h1 {
  padding-top: 0;
  margin-top: 15px;
  margin-bottom: 0;
  text-shadow: 5px 5px 5px gray;
}

#h2 {
  margin: 0;
  text-shadow: 5px 5px 5px gray;
}

.border {
  display: inline-block;
  border-bottom: solid rgb(16, 112, 27);
  width: 800px;
  box-shadow: 5px 5px 5px gray;
}

/* End of welcome section */

/* text  design*/

.text-design {
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 20px;
  width: 810px;
  font-family: "Dancing Script", cursive;
}

.Lara-size {
  font-size: 38px;
  padding-bottom: 15px;
}

/* end text design */

/* Start cards */
.card-box {
  display: flex;
  justify-content: center;
}

.card-style {
  margin: 5px;
  box-shadow: 0 0 5px black;
  width: 300px;
  height: 450px;
}

/* End of cards */

/* Start card section */

.body {
  margin: 0;
  padding: 0;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: rgb(226, 240, 236);
}

.container {
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.container .card {
  position: relative;
  border-radius: 10px;
}

.container .card .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.7s;
  z-index: 1;
}

.container .card:nth-child(1) .icon {
  background-image: url(images/Team/Larisa.jpg);
}

.container .card:nth-child(2) .icon {
  background-image: url(images/Team/Cristina\ M.jpg);
}

.container .card:nth-child(3) .icon {
  background-image: url(images/Team/Cristina\ L.jpg);
}

.container .card .icon .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

.container .card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1 {
  background: #ff0057;
  transform: translateY(0px);
}

.container .card .face.face1 .content {
  opacity: 1;
  transition: 0.5s;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
}

.container .card .face.face1 .content i {
  max-width: 100px;
}

.container .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2 {
  transform: translateY(0);
}

.container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #414141;
}

.container .card .face.face2 .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  color: #fff;
  font-size: 24px;
  text-align: center;
  color: #414141;
}

.container a {
  text-decoration: none;
  color: #414141;
}

/* Start footer */
